* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.active {
    background-color: #494a48;
}

body {
    border: 30px solid #1f284d;
    padding: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

td {
    font-weight: bold;
    background-color: #5f6361;
    color: white;
    font-size: 18px;
    text-align: center;
}

.subtext {
    background-color: #919191;
    padding: 10px;
    text-align: left;
    font-size: 10px;
}

.titleimg {
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-right: 25px;
    color: #1f284d;
    height: 300px;
    background-image: url(media/time\ ticking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}